:root{
    --Blue-100: hsl(225, 100%, 94%);
    --Blue-700: hsl(245, 75%, 52%);
    --Blue-50: hsl(225, 100%, 98%);
    --Gray-600: hsl(224, 23%, 55%);
    --Blue-950: hsl(223, 47%, 23%);
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display',sans-serif;
     min-height: 100vh;
     background-image: url(./images/pattern-background-desktop.svg);
     background-repeat: no-repeat; 
     background-color: var(--Blue-100);
     display: grid;
     place-content: center;
     justify-items: center;
}

img{
    display: block;
    width: 100%;
    border-radius: 1.25rem 1.25rem 0 0;
}

.main{
    width: 25rem;
    background-color: var(--Blue-50);
    line-height: 1.5; 
    margin: 5em 0;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 1.25rem; 
    box-shadow:-5px 5px 5px 1px var(--Blue-950) ;
}

.text{
    text-align: center;
    margin:2em 2.5em ;
}

.text h1{
    font-weight: 900;
}

.text>p{
    margin: 1em;
    color: var(--Gray-600);
}

.plan{
    margin: 2em 0;
    display: flex;
    align-items: center;
    gap: 1em;
    background-color:hsla(225, 100%, 94%, 0.4); 
    padding: 2em 1em;
    border-radius: 0.625rem;
}
.song-icon{
    width: 3rem;
    height: 3rem;
    background: url(./images/icon-music.svg);
}
.annual-text{
    display: flex;
    flex-direction:column ; 
    margin-right: auto;
}

.annual-plan{ 
    font-weight: 900;
}

.dollar{
    color: var(--Gray-600);
}

a{
    font-weight: 700;
}

.plan a:hover,
.plan a:focus{
    color: hsla(245, 75%, 52%, 0.692);
    cursor: pointer;
    text-decoration: none;
}

.btn{ 
    /* all:unset; */
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    line-height: inherit;
    width:100%;
    background-color: var(--Blue-700);
    color: var(--Blue-50);
    border: 0;
    border-radius: 0.5rem;
    padding: 0.9rem 0;
    white-space: nowrap;
    margin: 0.5em 0;
    box-shadow:-5px 5px 5px 1px var(--Blue-950) ;
}
.btn:hover,
.btn:focus{ 
    background-color:hsla(245, 75%, 52%, 0.733);
    cursor: pointer;
}

.cancel{
    width:100%;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    line-height: inherit;
    background-color: transparent;
    color: var(--Gray-600);
    margin-top: 1em;
    border: 0;
}

.cancel:hover,
.cancel:focus{ 
    color: var(--Blue-950);
    cursor: pointer;
}

.attribution {  
    text-align: center; 
}
.attribution a { 
    font-size: 1.2rem; 
    color: hsl(228, 45%, 44%);
    text-decoration: none; 
}
.attribution a:hover,
.attribution a:focus {   
    color: coral;
    text-decoration:dashed hsl(228, 45%, 44%) underline;
}




@media screen and (max-width:31.25rem) {
        .main{
            width: 22rem;
        }
          
        .annual-text{
            margin-right: 0;
        } 
}
@media screen and (max-width:25rem) { 
        .main{
            width: 18.75rem;
        }
        .plan{
            flex-direction: column; 
            
        }
        .annual-text{
            margin-right: 0;
        } 
} 