:root{
    --Blue-100: hsl(225, 100%, 94%);
    --Blue-700: hsl(245, 75%, 52%);
    --Blue-50: hsl(225, 100%, 98%);
    --Gray-600: hsl(224, 23%, 55%);
    --Blue-950: hsl(223, 47%, 23%);
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
     min-height: 100vh;
     background-image: url(./images/pattern-background-mobile.svg);
     background-repeat: no-repeat; 
     background-color: var(--Blue-100);
     display: grid;
     place-content: center;
     justify-items: center;
}

img{
    display: block;
    width: 100%;
}

.main{
    width: max(300px,70%);
    background-color: var(--Blue-50);
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}














/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */